{% extends "base.html" %}

{% block content %}

<br>

<p class="lead">Se realizará la siguiente reserva:</p>

<form action="." method="post">
    {% csrf_token %}
    Sala: <input type="text" name="sala" value='Bordo' readonly style ="border: none"> <br>
    Usuario: <input type="text" name="user" value='User' readonly style ="border: none"> <br>
    Fecha: <input type="text" name="fecha" value="{{ date }}" readonly style ="border: none"> <br>
    Duracion: <input type="text" name="duracion" value="{{ tiempo }}" readonly style ="border: none"> <br>
    Inicio: <input type="text" name="inicio" value="{{ desde_str }}" readonly style ="border: none"> <br>
    Fin: <input type="text" name="fin" value="{{ hasta_str }}" readonly style ="border: none"> <br><br>
    <input type="submit" value="Confirmar Reserva" />
</form>


{% endblock %}