{% extends "base.html" %}

{% block content %}
<br>

{% if not post %}
<form action="." method="GET">
    <input type="date" name="fecha" value="{{ date | date:'Y-m-d' }}"  required>
    <input type="submit" value="{{ action }}">
</form>
{% endif %}

{% if horarios %}
<br>
<p class="lead">Seleccionar turnos para el <strong>{{ date | date:"l d \d\e F \d\e Y" }}</strong></p>

<form action="." method="POST">
    <input type="hidden" name="date" value="{{ date | date:'c' }}">
    <ul>
        {% for x,y in horarios %}
            {% if y == "disabled" %}
                <label for=x><strike><small>{{ x |time:"H:i"}}</small></strike></label>
                <input type="checkbox" name="{{ x }}" value="{{ x }}" id="{{ x }}" disabled><br/>
            {% else %}
                <label for=x><small>{{ x |time:"H:i"}}</small></label>
                <input type="checkbox" name="{{ x | date:'c' }}" value="{{ x | date:'c' }}" id="{{ x }}" ><br/>
            {% endif %}
        {% endfor %}
    </ul>
    <input type="submit" value="Aceptar" />
</form>
<br/>
{% endif %}

{% if post %}
<p class="lead">Se realizará la siguiente reserva:</p>
<form action="/reserva/confirmada/" method="post">
    {% csrf_token %}
    Sala: <input type="text" name="sala" value='Bordo' readonly style ="border: none"> <br>
    Usuario: <input type="text" name="user" value='User' readonly style ="border: none"> <br>
    Fecha: <input type="text" name="date" value="{{ date | date:'d/m/Y' }}" readonly style ="border: none"> <br>
    Duracion: <input type="text" name="duration_hours" value="{{ tiempo }}" readonly style ="border: none"> <br>
    Hora Inicio: {{ from | time:'H:i'}} <input type="hidden" name="from" value="{{ from | date:'c' }}" readonly style ="border: none"> <br>
    Hora Fin: {{ to | time:'H:i'}} <input type="hidden" name="to" value="{{ to | date:'c'}}" readonly style ="border: none"> <br><br>
    <input type="submit" value="Confirmar Reserva" />
</form>
{% endif %}

{% endblock %}