{% extends "base.html" %}

{% block content %}

<div id='calendar'></div>

{% endblock %}

{% block js %}

<script>
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
      },
      defaultView: 'agendaWeek',
      defaultDate: new Date(),
      navLinks: true, // can click day/week names to navigate views
      selectable: true,
      selectHelper: true,
      select: function(start, end) {
        var title = prompt('Event Title:');
        var eventData;
        if (title) {
          eventData = {
            title: title,
            start: start,
            end: end
          };
          $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true;
          $.post("/reservation", eventData);
        }
        $('#calendar').fullCalendar('unselect');
      },
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: function(start, end, timezone, callback) {
          $.get("/reservations/?from="+start+"&to="+end, function(response){
            callback(response.events)
          },'json');
      },
    });

  });

</script>

{% endblock %}
